.sent {
    display: none;
}
header{
    background-color: blanchedalmond;
    width: 96%;
    height: 200px;
    border-style: solid;
    border-color: coral;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
#item {
    background-color: blanchedalmond;
    min-width: 300px;
    max-width: 400px;
    margin: 20px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-color: coral;
   
   
}
.hide{
    display: none;
}

.register{
    background-color: blanchedalmond;
    border-style: solid;
    border-color: coral;
    min-width: 300px;
    max-width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#order{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.price {
    text-decoration: underline;
}

#toTop {
    position: fixed;
    cursor: pointer;
    bottom: 80px;
    left: 80%;
    width: 50px;
    height: 50px;
    background-color:coral;
    
    
}


footer{
    background-color: blanchedalmond;
    width: 96%;
    height: 200px;
    border-style: solid;
    border-color: coral;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}